html,
body {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 34px);
  padding-top: 80px;

  a {
    color: #333;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    transition: border 0.3s ease;
    border-bottom: 2px solid #333 !important;
  }

  a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
  }
}

.my-navbar {
  background: rgba(255, 255, 255, 0.9);

  .navbar-toggler {
    margin-right: 15px;
    margin-left: auto;
  }
}

a.nav-link {
  text-align: center;
  color: #222;
}

a.nav-link:hover {
  text-shadow: 1px 0px 0px black;
}

footer {
  text-align: center;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.9);

  .footer-wrapper {
    display: inline-block;
  }

  .footer-wrapper a {
    padding: 0 10px;
  }

  .navbar {
    padding: 0;
  }
}

.center {
  margin: 0 auto;
}
