html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  transition: border 0.3s ease;
  border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
}

a:hover {
  border-bottom: 2px solid #333 !important;
}

main {
  min-height: calc(100vh - 80px);
}

footer {
  text-align: center;
}

footer .footer-wrapper {
  display: inline-block;
}

footer .footer-wrapper a {
  padding: 0 10px;
}
